aiofiles
bard
SpeechRecognition
pornhub-api
aiohttp
beautifulsoup4
daxxhub
deepai
python-whois
dnspython
ffmpeg-python
gitpython
hachoir
Faker
pydub
pycountry
heroku3
apscheduler
motor
numpy
pillow
psutil
wget
pyfiglet
qrcode
pytz
future
py-tgcalls==0.9.7
pyshorteners
python-dotenv
pyyaml
requests
emojis
speedtest-cli
spotipy
telegraph
unidecode
uuid==1.30
gtts
git+https://github.com/AsmSafone/SafoneAPI
lexica-api
httpx[http2]
gpytranslate
openai
pickledb
img2pdf
cloudscraper
phonenumbers
pycryptodome
opencv-python-headless
mpv
MukeshAPI
lexica-api
youtube-search
youtube-search-python
yt-dlp
git+https://github.com/KurimuzonAkuma/pyrogram
git+https://github.com/Vivekkumar-IN/pykeyboard
git+https://github.com/TelegramPlayGround/pyrogram-tgcrypto
